.about-us {
  @include page-grid;

  &__hours {
    display: flex;
    align-items: flex-start;

    margin-bottom: 6px;

    font-family: Cinzel, serif;
    font-size: 16px;
    font-weight: 400;
    font-style: Regular;
    line-height: 27px;
    letter-spacing: 0;

    &--stacked {
      flex-direction: column;
    }
    &--bold {
      min-width: 120px;

      font-family: Cinzel, serif;
      font-size: 16px;
      font-weight: 700;
      font-style: Bold;
      line-height: 27px;
      letter-spacing: 0;
    }
  }

  .about-us__hours--stacked .about-us__hours--bold {
    min-width: auto;
    margin-top: 16px;
    margin-bottom: 0;
  }

  &__mini-title {
    margin-bottom: 0;

    font-family: Cinzel, serif;
    font-size: 12px;
    font-weight: 700;
    font-style: Bold;
    line-height: 140%;
    color: #d12d35;
    letter-spacing: 0;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__title {
    grid-column: 1/-1;

    font-family: Cinzel, serif;
    font-size: 48px;
    font-weight: 700;
    font-style: Bold;
    line-height: 48px;
    text-align: left;
    letter-spacing: -1.5px;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: 1/6;
    }
  }
  &__sections {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 4/7;
    }

    @include on-desktop {
      grid-column: 6/11;
    }
  }
}
