.exploration {
  &__photo {
    width: 100%;
  }
  &__title {
    font-family: Cinzel, serif;
    font-size: 24px;
    font-weight: 700;
    font-style: Bold;
    line-height: 140%;
    color: #d12d35;
    text-align: center;
    letter-spacing: 0;
  }
  &__description {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0;
  }
}
