.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &__phone-numbers {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__numbers {
    position: absolute;
    right: 45px;

    display: none; /* Перетворюємо на Flex-контейнер */
    flex-direction: column; /* Розміщуємо елементи у стовпчик */

    width: 200px;

    color: white; /* Колір тексту */
    text-align: right;

    &--title {
      margin: 0;

      font-family: Cinzel, serif;
      font-size: 16px;
      font-weight: 700;
      font-style: bold;
      line-height: 27px;
      text-transform: uppercase;
      letter-spacing: 0;
      vertical-align: middle;
    }

    &--number {
      margin-top: 0;
      margin-bottom: 8px;

      font-family: Cinzel, serif;
      font-size: 16px;
      font-weight: 700;
      font-style: bold;
      line-height: 27px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0;
      vertical-align: middle;
    }
  }

  &--phone {
    background-image: url(../images/Icon-Phone-call.svg);
  }

  &--menu {
    background-image: url(../images/Icon-Burger-menu.svg);

    &:hover {
      transform: scale(1.2);
      background-image: url(../images/Icon-Burger-menu-hover.svg);
      transition:
        transform 0.3s,
        background-image 0.3s;
    }
  }

  &--close {
    background-image: url(../images/Icon-Close.svg);
  }
}

.icon__phone-numbers:hover .icon__numbers {
  display: flex;
}
