.menu {
  box-sizing: border-box;
  height: 100vh;

  font-weight: 700;
  text-transform: uppercase;

  background-color: #d12d35;

  &__top {
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &_phone-number {
    display: block;

    margin-bottom: 16px;

    font-size: 16px;
    line-height: 27px;
    color: $main-text-colour;
    text-decoration: none;
  }

  &_call-to-order {
    display: block;

    padding-bottom: 7px;

    font-size: 12px;
    line-height: 16px;
    color: $main-text-colour;
    text-decoration: none;
    letter-spacing: 2px;

    transition: transform 0.3s;
    &:hover {
      width: fit-content;
      border-bottom: 1px solid $main-text-colour;
    }
  }

  &__nav {
    margin-bottom: 32px;
  }
}
