.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;

  @include on-tablet {
    padding: 64px 72px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  &__logo-link {
    display: flex;
  }

  & a img {
    display: block;
    width: 64px;
    height: 46px;
    height: auto;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 87px;
      height: 65px;
    }
  }
}
